<!-- <p>
  xrystal works!
</p> -->
<!-- <div class="container"> -->
  <div class="row" id="holder">
    <div class="col-lg-4" >
      <div id="generate" (click)="goToGenerate()">
        <br>
        <br>
        <br>
        <i class="fab fa-whmcs fa-6x"></i>
        <br>
        <br>
        <p><strong>GENERATOR</strong></p>
      </div>
    </div>
    <!-- <div class="col-md-1" id="space">
    </div> -->
    <div class="col-lg-4" >
      <div id="market" (click)="goToMarket()">
        <br>
        <br>
        <br>
        <i class="fas fa-university fa-6x"></i>
        <br>
        <br>
        <p><strong>MARKETPLACE</strong></p>
      </div>
    </div>
    <!-- <div class="col-md-1" id="space">
    </div> -->
    <div class="col-lg-4" >
      <div id="visualizer" (click)="goToVisualizer()">
        <br>
        <br>
        <br>
        <i class="far fa-gem fa-6x"></i>
        <br>
        <br>
        <p><strong>VISUALIZER</strong></p>
      </div>
    </div>
  </div>
<!-- </div> -->
