<div class="container">

  <div class="well">
    <h2><strong>What is Xrystal?</strong></h2>
    <p><strong>Xrystal</strong> is a crypto-collectible gem stone game created on top of the Ethereum blockchain. Each xrystal is an unique collectible object generated and visualized in <strong>real time</strong>. You can buy xrystals either from our xreator page or <strong>buy</strong>, <strong>sell</strong>, and even <strong>trade</strong> them in our marketplace. You can use our visualizer to see your xrystals in one of five custom environments specificallty tailored to display your xrystal collection in all its beauty. Eventually you will even be able to trade your xrystals with other players too!</p>
    <br>
    <h2><strong>How do I get Xrystal?</strong></h2>
    <p>Because Xrystal is built on top of the Ethereum blockchain it requires that you have <strong>Ethereum</strong> and the <strong>Metamask Ethereum wallet</strong> plugin for your browser. You need only go into our <strong>store</strong> or the <strong>marketplace</strong> and spend ether to purchase xrystals. Once you have xrystals you can also use them to exchange with those placed on the market by other players. Each xrystal has its own unique value and if you place a xrystal on the market you can set its price (and even other specifications you require for a trade). And of course your xrystals will be viewed with our visualizer looking into your digital 'wallet.'</p>
    <br>
    <h2><strong>Who is Xrystal?</strong></h2>
    <p>Xrystal is a 'what' more than a 'who.' Xrystal is a game of collecting and displaying beautiful digital gemstones. Our team is a group of dedicated programmers and creatives focused on building an enjoyable digital experience combining <strong>game play</strong>, <strong>environments</strong>, and <strong>unique visualizations</strong> of digital information.</p>
    <br>
    <button type="button" name="button" class="btn btn-info" (click)="returnToTopPage()">BACK</button>
  </div>

</div>
