// #ourVisualizer {
//   background-color: black !important;
//   margin: 0 auto;
// }
//
// .container {
//   background-color: black !important;
//   margin: 0 auto;
//
// }

a-scene {
  height: 1000px;
  padding-left: -3em;
  padding: 0;
   margin: auto;
   display: block;
   width: 1200px;
}
