<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""><i class="far fa-gem"></i><span class="logotype">&nbsp;&nbsp;Xrystal</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li><!--Can't wait to creat an about page--> |
      <li><a routerLink="admin" (click)="loginFake()">Login</a></li><!--This will pop a modal for login/auth-->
    </ul>
  </div>
</nav>
<div class="container">

  <!-- <h1>
    {{title}}
  </h1> -->
  <div class="banner">
    <br><br>
  </div>

  <div>

    <!-- <svg height="250" width="500">
      <polygon points="200,99 300,210 170,250 99,234" style="fill:lime;stroke:purple;stroke-width:5" />
      Sorry, your browser does not support inline SVG.
    </svg> -->

    <router-outlet></router-outlet>

  </div>
</div>
